@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
                
body {
    font-family: 'Lato', sans-serif;
}

#landing-main {
    height: 100vh;
    padding: 24px;
}
#landing-main
#ld-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
#landing-main
#ld-section-2{
    display: flex;
}
.ld-main-text {
    color: #0F241B;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    font-family: 'PT Serif', serif;
    margin-bottom: 12px;
}
.ld-sub-text {
    text-align: center;
    color: #1D352A;
}
.ld-btn {
    background-color: #03A84E;
    border-radius: 32px;
    padding: 12px 16px;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
}



#home-main {
    padding: 0px 8px;
    margin-top: 24px;
}
#hm-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.hbg-name {
    display: flex;
}
.hbg-btn {
    background-color: transparent;
    border: 0;
    margin-right: 8px;
}
.username {
    color: #0F241B;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}

#hm-section-2 {
    display: flex;
    background-color: #F0F4F2;
    max-width: 100%;
    padding: 4px;
    height: 32px;
    justify-content: space-between;
    margin-bottom: 24px;
}
.active-tab {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(63, 80, 73, 0.04);
    border-radius: 8px;
    color: #0F241B;
    font-size: 14px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-tab {
    color: #4B6358;
    font-size: 14px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hm-section-3 {
    padding: 16px 16px 22px 16px;
    border: 4px solid #98DCAF;
    background: #03A84E;
    border-radius: 8px;
    position: relative;
    margin-bottom: 24px;
}
#hm-section-3  p{
    margin: 0px;
    color: white;
    font-size: 14px;
}
#hm-section-3  p:first-child{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}
.meal-image {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hm-meal-section {
    background: #F6FFFA;
    border: 1px solid #6ECE8A;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 24px;
}
.meal-card-header {
    display: flex;
    color: #03A84E;
    font-size: 14px;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}
p{
    margin: 0px;
}
.meal-card-header button{
    background: #E9FBF2;
    border: 0px;
    border-radius: 8px;
    color: #03A84E;
    display: flex;
    height: 24px;
    font-size: 8px;
    align-items: center;
}
.meal-card-body {
    display: flex;
    align-items: center;
}
.meal-card-body div p:first-child{
    color: #4B6358;
    font-size: 14px;
    margin-bottom: 4px;
}
.meal-card-body div p:last-child{
    color: #0F241B;
    font-size: 14px;
}
.meal-card-image, .clean-card-image {
    margin-right: 8px;
}
.meal-card-footer, .clean-card-footer {
    display: flex;
    align-items: center;
}

#hm-meal-section-modal, #hm-clean-section-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
    height: 100%;
    overflow: auto;
    margin-bottom: 32px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    width: 80%;
    height: 520px;
}
.modal-header {
    color: #4B6358;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.order-status {
    display: flex;
    margin-bottom: 16px;
}
.order-status div:first-child {
    font-size: 32px;
    margin-right: 8px;
}
.order-status div:last-child p:first-child, .delivery-address p:first-child, .order-sub-text{
    font-size: 12px;
    color: #4B6358;
    margin-bottom: 4px;
}
.order-status div:last-child p:last-child, .order-main-text {
    font-size: 16px;
    color: #0F241B;
}
.delivery-address {
    background: #FFFFFF;
    border: 1px dashed #CBD8D2;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 24px;
}
.delivery-address p:last-child {
    color: #0F241B;
    font-size: 14px;
    font-weight: 300;
}
.order-clock{
    color: #4B6358;
    font-size: 12px;
}
.order-text-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-timeline {
    margin-bottom: 8px;
}


#hm-clean-section {
    background: #FFFBF5;
    border: 1px solid #FFC260;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 24px;
}
.clean-card-header {
    display: flex;
    color: #FF9D00;
    font-size: 14px;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}
.clean-card-header button{
    background: #FFF3DF;
    border: 0px;
    border-radius: 8px;
    color: #FF9D00;
    display: flex;
    height: 24px;
    font-size: 8px;
    align-items: center;
}



footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-shadow: inset 0px 1px 0px #F1F4F2;
    display: flex;
    justify-content: space-between;
    color: #8AA398;
    padding: 6px;
    font-size: 12px;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer div:first-child {
    color: #03A84E;
}




/* .scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-bck-center {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} */
.burst {
    animation-name: scale-in-center, slide-out-bck-center;
    animation-delay: 0.5s, 0.5s;
    animation-duration: 1000ms, 1000ms;
    -webkit-animation-name: scale-in-center, slide-out-bck-center;
    -webkit-animation-delay: 0.5s, 0.5s;
    -webkit-animation-duration: 1000ms, 1000ms;
    /* -webkit-animation: burst 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: burst 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
}
/* @-webkit-keyframes burst {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    33% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    66% {
        -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
@keyframes burst {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    33% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    66% {
        -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
} */



@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
} 

 @-webkit-keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }